.container2 {
  position: absolute;
  top: 85%;
  left: 37.5%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container3 {
  position: fixed;
  top: 60%;
  left: 37.5%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}