{% extends 'base/base.html' %}


{% block title %}New Reservation{% endblock %}


{% block form %}
    <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">Make Reservation</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Reservation</button><br>

        <div class="container2">
            <a class="btn btn-lg btn-primary" href="{% url 'index' %}" role="button">Back to index page</a>
        </div>
    </form>


{% endblock %}
