{% extends 'base/base.html' %}

{% block title %}Delete Reservation{% endblock %}
{% block form %}
    <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">Delete a reservation</h2>
        {{ form.as_p }}
        {% csrf_token %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Delete reservation</button><br>
    </form>

    <div class="container3">
      <a class="btn btn-lg btn-primary" href="{% url 'index' %}" role="button">Back to index page</a>
    </div>
{% endblock %}