{% extends 'base/base.html' %}

{% block form %}
    <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">Search for reservation</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button><br>
    </form>
    <div class="container3">
      <a class="btn btn-lg btn-primary" href="{% url 'index' %}" role="button">Back to index page</a>
    </div>
{% endblock %}

