{% load static %}

{% if r %}
    <table class="table table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>Familly name </th>
      <th>Arrival </th>
      <th>Departure </th>
      <th>Room </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ r.famName }}</td>
      <td>{{ r.arrivalDate }}</td>
      <td>{{ r.departureDate }}</td>
      <td>{{ r.room }}</td>
    </tr>

  </tbody>
</table>

{% else %}
    <h2>Sorry, there are no reservations with that data</h2>

{% endif %}
    <div class="container2">
      <a class="btn btn-lg btn-primary" href="{% url 'index' %}" role="button">Back to index page</a>
    </div>


