
<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'reservation/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'reservation/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'reservation/css/signin.css' %}" rel="stylesheet">
    <link href="{% static 'reservation/css/mycontainer.css' %}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>



    <div class="container">

        {% block form %}{% endblock %}


        <!--<div class="container3">-->
          <!--<a class="btn btn-lg btn-primary" href="{% url 'index' %}" role="button">Back to index page</a>-->
        <!--</div>-->

        <!--<label for="inputEmail" class="sr-only">Email address</label>-->
        <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
        <!--<label for="inputPassword" class="sr-only">Password</label>-->
        <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
        <!--<div class="checkbox">-->
          <!--<label>-->
            <!--<input type="checkbox" value="remember-me"> Remember me-->
          <!--</label>-->
        <!--</div>-->
        <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
    </div> <!-- /container -->


  <script src="{% static 'reservation/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'reservation/js/bootstrap.js' %}"></script>
  <script src="{% static 'reservation/js/npm.js' %}"></script>
  </body>
</html>
