
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Static Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'reservation/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'reservation/css/center_h1.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'reservation/css/navbar-static-top.css' %} " rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <br>
      <br>
      <br>
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 class="center">Welcome</h1>
        <h2 class="center">This is the Index Page</h2>
        <p>This is where the available options are described</p>
        <p>You can create a reservation</p>
        <a class="btn btn-lg btn-primary" href="{% url 'reservation:create_query' %}" role="button">Create a reservation</a><br><br>
        <p>Delete a reservation</p>
        <a class="btn btn-lg btn-primary" href="{% url 'reservation:delete_query' %}" role="button">Delete  a reservation</a><br><br>
        <p>Search a reservation</p>
        <a class="btn btn-lg btn-primary" href="{% url 'reservation:search_query' %}" role="button">Find a reservation</a><br><br>
      </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'reservation/js/bootstrap.min.js' %}"></script>
  </body>
</html>
